In [1]:
print ("Name:Divya"\n"Gender:Female")

SyntaxError: unexpected character after line continuation character (814738588.py, line 1)

In [5]:
print ("Name:Divya\nGender:Female")
print ("Name\t:\tDivya\nGender\t:\tFemale")

Name:Divya
Gender:Female
Name	:	Divya
Gender	:	Female

# To have space between two words then : You have to use ( \t ) in between.
# ( \t ) Represents - Space between the collen for alignment purpose.

# To print multiple lines of words in a single line of code then : You have to use  ( \n ) and then continue with following next line of codes.
# ( \n ) represents - New Line.

https://www.youtube.com/watch?v=sMPV7n-pQWM&list=PLA2UBjeRwle3OLO3qmXTbmCvuTlqhHRVb&index=4 - This video link.

In [29]:
print ("Happy Learning!!!\nAnd Have Fun")
print (""Happy" "Learning!!!"\n"And" "Have", "Fun",sep="_"")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3096307467.py, line 2)

In [31]:
print("Happy Learning!!!\nAnd Have", "Fun", sep="_")

Happy Learning!!!
And Have_Fun

In [35]:
print ("Happy Learning!!!\nAnd have", "Fun", sep="_")

Happy Learning!!!
And have_Fun

In [47]:
print ("Happy",end=" ")
print ("Learning",end=" ")
print ("And",end=" ") 
print ("Have",end=" ")
print ("Fun",end=".")

Happy Learning And Have Fun.

In [59]:
#Expected Output as below:-

#Welcome to Learning Platform
# *Python
# *Tips and Tricks

print ("Welcome",end=" ")
print ("to",end=" ")
print ("Learning",end=" ")
print ("Platform",end="\n\t*")
print ("Python Series",end="\n\t*")
print ("Tips and Tricks",end="\t")

Welcome to Learning Platform
	*Python Series
	*Tips and Tricks

In [61]:
# Learning Variable with allocating a value for each variable:
# Before (=) Variable_Name a = 10.
# After (=) Value 10.
# a=10....

a=10
b=20
print (a)
print (b)

10
20

In [63]:
# To assign value for an multiple lines variable in a single line: is as below:-

a,b=10,20
print(a)
print(b)

10
20

In [65]:
# If a variable has same value ie., ex: x and y = '5". How to wrire code? Follow as below:- 
# This is because of to avoid multiple lines of code.

x=y=5
print (x)
print (y)

5
5

In [71]:
# To name variable = 1st rule is : it must start with (Alphabet) or(_)
# Example as follows :   age=10
#                        _age=10

age=10
_age=10
print(age)
print(_age)

10
10

In [83]:
# 2nd rule: Variable should not start with numeric. Ex. 1value=5.
1value=5
print (1value)

# But you can name the variable as below, where number is next to the alphabet as below.

value1=5

SyntaxError: invalid decimal literal (4090768399.py, line 2)

In [85]:
value1=5
print (value1)

5

In [87]:
# 3rd rule: Varibale must/can be alphanumeric as below:

num123=98
print(num123)

98

In [89]:
#  4th Rule: It is case sensitive:

a=50
A=50
print(a)

# in the above example it will consider only lowercase variable.

50

In [91]:
# 5th Rule: There are few key words as below which has special functions attached to perform task. So those key words must not be used as naming varibale.
#Example as below:

Print=99
print=99
print(print) 

# we get below error because... these words are used to perform some executions. Ex: print, if, for, while, in etc...

TypeError: 'int' object is not callable

In [3]:
# input function:-

name=str(input("Enter your name"))
age=int(input("Enter your age"))
height=float(input("Enter your height"))

print(name)

Enter your name Divya
Enter your age 18
Enter your height 5.11

Divya

In [101]:
print(name)

TypeError: 'int' object is not callable

In [13]:
print(name)
print(age)
print(height)
type(name)
type(height)

Divya
18
5.11

float

In [15]:
age=age+10
print(age)

28

In [17]:
print(name, age, height)

Divya 28 5.11

In [19]:
#when a variable has a information already then below is the menthod to run to have below output:

print("your name is:",name)
print("your age is:",age)
print("your height is:",height)

your name is: Divya
your age is: 28
your height is: 5.11

In [29]:
# Another method to retrive output in a single line using [ 'f' statement ] is a below:-

print(f"your name is {name}, your age is {age}, height is {height}")

your name is Divya, your age is 28, height is 5.11

In [27]:
print(f"your name is {name}, your age is {age}, height is {height}")

your name is Divya, your age is 28, height is 5.11