1. what is list?
   List is a datatype where you can store multiple variable's values into one single variable. List denotes anything we write inside []. is called list.         As like we call string that is under single/double quotes inside of (""/''). List is nothing but collection of elements.

   Datatype has two types that is 1. Mutable and 2. Immutable.
   Immutable datatypes are int, float, complex, string.
   Mutable datatypes are List. -  the reason list are called mutable is because it can be modified further. example below:

In [2]:
name="appleberry"
age=24
height=5.5
details=["appleberry", 24, 5.5]

In [3]:
#2. list indexing?
detail=["appleberry", 24, 5.5]
print(detail[0])
print(detail[1])
print(detail[2])

appleberry
24
5.5

In [4]:
# 3. indexing access?
num=[10, 20, 30,[40,50],60]
print(num[0])
print(num[1])
print(num[2])
print(num[3][0])
print(num[3][1])
print(num[4])

10
20
30
40
50
60

In [5]:
# 4. indexing modify?

names=["chris", "ryan", "rick"]
names[1]="melanie"
names

['chris', 'melanie', 'rick']

In [6]:
# indexing deletion?

names=["chris", "ryan", "rick"]
del names[2]
names

['chris', 'ryan']

In [7]:
# List slicing?

num=[100,30,60,50, 40,70]
num[0:3]
print(num[0:3])

[100, 30, 60]

In [8]:
num[:5] # this is like from first to last
num

[100, 30, 60, 50, 40, 70]

In [9]:
num[2:]
print(num[:2])

[100, 30]

In [10]:
# slice method? i have created 3 different variables below. Now i want first 3 elements from below 3 vaiables. lets see how to retrive it. so we will count +1 elements to get one element lesser in the output.

food=["milk", "butter", "bread", "jam", "cheese"]
age=[20, 40, 60,50, 20, 80, 90]
colours=["red", "pink", "yellow", "violet", "green", "blue"]
print(food[0:5])
print(age[0:5])
print(colours[0:5])

# above is indexing method to retrive elements.

['milk', 'butter', 'bread', 'jam', 'cheese']
[20, 40, 60, 50, 20]
['red', 'pink', 'yellow', 'violet', 'green']

In [11]:
s=slice(0,4)
print(food[s])
print(age[s])
print(colours[s])

# above is slicing method.

['milk', 'butter', 'bread', 'jam']
[20, 40, 60, 50]
['red', 'pink', 'yellow', 'violet']

In [12]:
# reversing method.this method organises elemets from last to first.

age=[20, 40, 60,50, 20, 80, 90]
print(age[::-1])
print(age[-2::-1])

[90, 80, 20, 50, 60, 40, 20]
[80, 20, 50, 60, 40, 20]

In [13]:
# slicing-modify?

age=[20, 40, 60,50, 20, 80, 90]
age [0:4]=[1,2,3,4]
age

[1, 2, 3, 4, 20, 80, 90]

In [58]:
# slicing deletion?

age=[20, 40, 60,50, 20, 80, 90]
del age[0:3]
print(num)

[100, 30, 60, 50, 40, 70]

In [60]:
# below is the example of step value where we have mentionde : after 2 which means i will count from 1to 2 and it jumps to next two values where it replaces below mentioned 1's in each two values below.

num=[110,120,130,140,150,160,170,180,199]
num[::2]=[1,1,1,1,1]
num

[1, 120, 1, 140, 1, 160, 1, 180, 1]

In [66]:
# string-deletion - lets see how to delete multiple elements.

num=[110,120,130,140,150,160,170,180,199]
del num[::2]
num

[120, 140, 160, 180]