In [7]:
# String concatenation:

firstname="Divya"
lastname="shekar"
fullname=firstname+ " " +lastname
print(fullname)

Divya shekar

In [9]:
print(fullname)

Divya shekar

In [15]:
# multiplying string with integer:

name="divya"
result="divya"*5
print(result)

divyadivyadivyadivyadivya

Printing the STRING STATEMENTS:-

In [29]:
a="learning python"
b="youtube"
print("you are "+a+" in " +b)

you are learning python in youtube

In [37]:
x="learning sql"
y="udemy"
print("i'am leanring "+x+" in " +y)

i'am leanring learning sql in udemy

In [1]:
#Task 01: Create two string variables: first_name and last_name. Concatenate them with a space in between to form a full name. Print the result.

Christian Bale

firstname="Christian"
lastname="Bale"
fullname=firstname+ " " +lastname
print(fullname)

SyntaxError: invalid syntax (3468146655.py, line 3)

In [3]:
firstname="Christian"
lastname="Bale"
fullname=firstname+ " " +lastname
print(fullname)

Christian Bale

In [13]:
firstname="Chhota"
lastname="Bheem"
fullname=firstname+ " " +lastname
print(fullname)

Chhota Bheem

In [15]:
firstname="Melanie"
lastname="Stephen"
fullname=firstname+ " " +lastname
print(fullname)

Melanie Stephen

In [19]:
# Task 02: Concatenate three strings: "I love ", "Python", and " programming!" to form the sentence: "I love Python programming!". Print the result.

c="I Love"
d="python"
e="programming"
print(c+ " " +d+ " " +e)

I Love python programming

In [5]:
# Task 03: Given a string "Hello", concatenate it 3 times with a space between each repetition. Print the result.


name="Hello"
result=(name + " ") *3
print(result)

Hello Hello Hello

In [7]:
# word 'Index' 5 times.

name="Index"
result=(name+ " ") *5
print(result)

Index Index Index Index Index

In [9]:
# word 'Invisible'

name="Invisible"
result=(name+ " ")*10
print(result)

Invisible Invisible Invisible Invisible Invisible Invisible Invisible Invisible Invisible Invisible

In [33]:
# Printing the 'String Statements'.

a="Learing python"
b="youtube"
print("I'm learning "+a+" in " +b)
print("I'm leaning {a} in {b}".format(a=a,b=b))
print("I'm leaning {} in {}".format(a,b))

I'm learning Learing python in youtube
I'm leaning Learing python in youtube
I'm leaning Learing python in youtube